.container-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button {
  padding: 40px;
  border-radius: 40px;
  background-color: rgb(13, 105, 224);
  border: none;
  color: white;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}
